<div class="cart-header">
    Your Cart
</div>
<div *ngIf="cart$ | async as cart; else emptyCart" class="cart-container">
    <div class="cart-item" *ngFor="let item of cart.products; let i = index">
        <div class="cart-item-headers">
            <div class="index"><span>{{ i + 1 }}.</span></div>
            <div></div>
            <div class="price-header">Unit price</div>
            <div class="amount-header">Quantity</div>
            <div class="price-header">Total</div>
        </div>
        <div class="cart-item-details" data-product-id="90559">
            <img [src]="item.thumbnail" alt="{{ item.title }}" class="cart-item-thumbnail">
            <div class="cart-item-title">{{ item.title }}</div>
            <div class="cart-item-price">{{ item.price | currency }}</div>
            <div class="cart-item-quantity">
                <button mat-icon-button (click)="addProductQuantity(item)">
                    <mat-icon>add</mat-icon>
                </button>
                <span>{{ item.quantity }}</span>
                <button mat-icon-button (click)="removeProductQuantity(item.id)">
                    <mat-icon>remove</mat-icon>
                </button>
            </div>
            <div class="cart-item-total">
                <span>{{ item.quantity * item.price | currency }}</span>
            </div>
            <div class="cart-item-remove"><button mat-icon-button (click)="removeProduct(item.id)">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
    </div>
</div>
<div class="cart-summary">
    <div>Total Price: {{ cart.totalPrice | currency }}</div>
</div>
</div>
<ng-template #emptyCart>
    <p>Your cart is empty.</p>
</ng-template>