<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="app-title">Product Catalogue</span>
        <div class="search-bar-container desktop">
            <app-search-bar [searchTerm]="(currentSearchQuery$ | async) || ''" (search)="onSearch($event)"></app-search-bar>
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row class="mobile-search-bar">
        <div class="search-bar-container">
            <app-search-bar [searchTerm]="(currentSearchQuery$ | async) || ''" (search)="onSearch($event)"></app-search-bar>
        </div>
    </mat-toolbar-row>
</mat-toolbar>