<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="app-title" (click)="onPressHome()">Catalogue</span>
        <div class="search-bar-container desktop">
            <app-search-bar [searchTerm]="(currentSearchQuery$ | async) || ''" (search)="onSearch($event)"></app-search-bar>
        </div>
        <div class="expander"></div>
        <button class="cart-button" [matBadge]="(totalProductsInCart$ | async) || null" matBadgeOverlap="true" routerLink="/cart">
            <div class="ripple-container" matRipple></div>
            <mat-icon>shopping_cart</mat-icon>
        </button>
        <button class="user-button" (click)="toggleUserForm()">
            <div class="ripple-container" matRipple></div>
            <mat-icon>account_circle</mat-icon>
        </button>
    </mat-toolbar-row>
    <mat-toolbar-row class="mobile-search-bar">
        <div class="search-bar-container">
            <app-search-bar [searchTerm]="(currentSearchQuery$ | async) || ''" (search)="onSearch($event)"></app-search-bar>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<div *ngIf="showUserForm" class="user-form-container">
    <app-login *ngIf="!isLoggedIn"></app-login>
    <app-logout *ngIf="isLoggedIn"></app-logout>
</div>