<app-select [options]="sortOptions" [selectedValue]="currentSortValue$ | async" placeholder="Sort by" (selectionChange)="onSortChange($event)"></app-select>
<div class="divider"></div>
<app-select [options]="categoryOptions" [selectedValue]="currentCategoryValue$ | async" placeholder="Category" (selectionChange)="onCategoryChange($event)"></app-select>
<div class="divider"></div>
<app-price-filter [currentPriceRange$]="currentPriceRange$"></app-price-filter>
<div class="divider"></div>
<button *ngIf="areFiltersActive$ | async" mat-button (click)="clearFilters()">Clear Filters</button>