.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.search-bar input {
    width: 100%;
    padding: 10px 40px 10px 20px;
    border-radius: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;

    &:focus {
        outline: 2px solid rgb(186, 0, 92);
    }
}

.search-bar .mat-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
    color: #aaa;
}
