:host {
    display: flex;
    justify-content: center;
}
mat-card {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0;
    box-shadow: none;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

mat-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

mat-card img {
    max-height: 200px;
    object-fit: cover;
}

mat-card-title,
mat-card-subtitle {
    padding: 0 16px;
}

mat-card-content {
    padding: 16px;
}
