:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.main {
    padding: 16px;
    flex-grow: 1;
    max-width: 1320px;
    margin: 0 auto;
}

@media (max-width: 600px) {
    .main {
        padding: 8px;
    }
}
