form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 16px;
    border: 1px solid var(--gray-400);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    div {
        margin-bottom: 15px;
    }

    label {
        margin-bottom: 5px;
        font-weight: 500;
        color: var(--gray-700);
    }

    input {
        margin-left: 20px;
        padding: 10px;
        font-size: 16px;
        border: 1px solid var(--gray-400);
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        &:focus {
            outline: 1px solid rgb(186, 0, 92);
        }
    }

    button {
        width: 100%;
    }
}
