<div class="catalog-header">
    {{ (categoryName$ | async) || 'All products' }}
</div>
<button id="filtersDialogButton" (click)="openFiltersDialog()">Filters</button>
<div class="catalog-container">
    <app-filters></app-filters>
    <div class="responsive-grid">
        <ng-container *ngIf="isLoading$ | async; else productGridTemplate">
            <div *ngFor="let n of [].constructor(20)" class="placeholder-container">
                <div class="placeholder"></div>
            </div>
        </ng-container>
        <ng-template #productGridTemplate>
            <app-product-card *ngFor="let product of products$ | async" [product]="product"></app-product-card>
        </ng-template>
    </div>
</div>

<ng-template #filtersDialog>
    <app-filters></app-filters>
</ng-template>