<div class="catalog-header">
    {{ (categoryName$ | async) || 'All products' }}
</div>
<button id="filtersDialogButton" (click)="openFiltersDialog()">Filters</button>
<div class="catalog-container">
    <app-filters></app-filters>
    <div class="responsive-grid">
        <ng-container *ngIf="isLoading$ | async; else productGridTemplate">
            <div *ngFor="let n of [].constructor(20)" class="placeholder-container">
                <div class="placeholder"></div>
            </div>
        </ng-container>
        <ng-template #productGridTemplate>
            <ng-container *ngIf="products$ | async as products">
                <ng-container *ngIf="products.length; else noProductsTemplate">
                    <app-product-card (click)="openProductDetailsModal(product)" *ngFor="let product of products$ | async" [product]="product"></app-product-card>
                </ng-container>
                <ng-template #noProductsTemplate>
                    <div class="no-products-message">0 products found.</div>
                </ng-template>
            </ng-container>
        </ng-template>
    </div>
</div>
<app-pagination *ngIf="(products$ | async)?.length" [totalItems]="(totalItems$ | async) || 0" [pageSize]="(pageSize$ | async) || 0" [currentPage]="(currentPage$ | async) || 1" (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)"></app-pagination>

<ng-template #filtersDialog>
    <app-filters></app-filters>
</ng-template>